* {
    font-family: 'Roboto', sans-serif;
}

.cont-purple {
    background-color: #AD29B6;
}

.cardProfile {
    position: relative;
    top: 50px;
    min-height: 150px;
    left: 10%;
}


.btnMembers {
    background-color: #212529;
    color: white;
    padding: 5px 12px;
    border-radius: 7%;
    position:relative;
    left:10%;
}

.btnProfile {
    background-color: #AD29B6;
    color: white;
    padding: 5px 12px;
    border-radius: 7%;
    position:relative;
    left:8%;
}
:required  {  
    background: url(https://cdn0.iconfinder.com/data/icons/fugue/icon/asterisk-small.png) no-repeat;
    background-position:right top;
   }

.button-right {
    margin-left: 90%;
}


@media (min-width: 767px) {

    .cardProfile {
        position: relative;
        left: 40%;
    }

    .btnProfile {

        position: relative;
        left: 35%;
    }

    .btnMembers {
        position: relative;
        left: 45%
    }
}