/*----Estilos Generales----*/
* {
  font-family: 'Roboto', sans-serif;
}

footer {
  width: 100%;
}

#div-area {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  border-style: ridge;
  padding: 2%;
}
#applause-container {
  display: inline-block;
  width: 59px;
  border: 0;
  background-color: transparent;
  padding-left: 1px;
  padding-bottom: 0px;
  padding-top: -1px;
}
#logo-nav {
  width: 54%;
  margin-top: 4%;
  padding: 7%;
  position: relative;
  right: 7%;
  background-size: 23%;
  background-repeat: no-repeat;
}

#logo-footer {
  background-image: url(./assets/logo.png);
  width: 98%;
  height: 25%;
  margin-top: 21%;
  background-size: 34%;
  background-repeat: no-repeat;
  margin-left: 32%;
}

#state-user {
  margin-left: 9%;
  margin-top: 5%;
}

#div-area {
  display: inline-block;
  margin-left: 2%;
  margin-top: 3%;
  border-style: ridge;
  padding: 2%;
}

.forum-container{
  margin: 5%;
}
.form-control {
  display: block;
  width: 50%;
  position: relative;
  bottom: 4px;
}

.button-logOut {
  background-color: royalblue;
  color: white;
  font-size: 13px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  bottom: 3px;

}
.alert-info {
  color: #000202;
  background-color: #356a8838;
  border-color: #ffffff;
}
.forum-container {
  min-height: 800px;
}
.applause-clase {
  height: 29px;
  width: 30px;
}

.btn-purple {
  background-color: #AD29B6;
  color: white;
  border-radius: 6px;
  position: relative;
  bottom: 3px;
  padding: 1px 4px;
}
/* boton editar y eliminar user */
.hide{
  display: none;
}

/*lista desplegable de opciones de busqueda*/
#area-search{
  display: none;
}

.dropdown-menu{
background-color: black;
}
#Science{
  color: mediumvioletred;
  }
  #Technology{
  color: cyan;

  }
  #Engineering{
    color: rgb(8, 185, 8);
  }
  #Arts{
    color: yellow;
  }
  #Math{
    color: orange;
  }
.area-font{
  font-family: 'Roboto', sans-serif;
  font-weight: 'bold';
}


ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}
/*termina estilo de lista desplegable*/

.btn-user {
  background-color: white;
  position: relative;
  border-radius: 6px;
  padding: 0px 9px;
  bottom: 3px;
}


.button-send-input {
  float: right;
  background-color: #AD29B6;
  color: white;
  font-size: 13px;
  padding: 3px;
  border-radius: 6px;
  position: relative;
  top: 5px;
}

.footer-container {
  width: 100%;
  background-color: #181717;
  color: white;
}

.footer-main {
  width: 88%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.footer-main .footer-column {
  width: 98%;
  text-align: center;
}

.footer-main .footer-column {
  text-align: center;
  font-size: 15px;
  color: white;
  margin-bottom: 6px;
  padding: 12px 12px;

}

.footer-main .footer-column span {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 12px;
}

.footer-copy-redes {
  width: 100%;
  background: white;
  border-top: 2px solid royalblue;

}

.main-copy-redes {
  width: 83%;
  max-width: 1000px;
  padding: 0px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.main-copy-redes {
  widows: 100%;
  text-align: center;
  font-size: 12px;
  width: 70%;
  color: #6247AA;
  margin-bottom: 15px;

}

.footer-copy {
  text-align: center;
  position: relative;
  left: 14%;
  padding: 3%;
  ;
}

.main-copy-redes .footer-redes {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-copy-redes .footer-redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background: #AD29B6;
  color: white;
  text-align: center;
}
.applause-clase {
  height:32px;
  width:32px;
  
}
#applause-container {
  display: inline-block;
  width: 40px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
}
.photo-perfil{
  width: 30%;
  border-radius: 30%;
}

/*----Desktop----*/
@media (min-width: 767px) {

  #logo-nav{
    width: 38%;
    margin-top: -5%;
    padding: 7%;
    position: relative;
    right: 2%;
  }

  .forum-container {
    min-height: 1500px;
  }

  .btn-purple {
    padding: 3px 22px;
    position: relative;
    right: 9%;
    border-radius: 5px;
  }

  .btn-user {
    padding: 3px 22px;
    position: relative;
    left: 6%;
    border-radius: 5px;
  }

  .button-logOut {
    padding: 5px 16px;
    position: relative;
    border-radius: 5px;

  }

  .button-send-input {
    top: 30px;
  }

  #div-area {
    margin-left: 22%;
    margin-top: 4%;
    padding: 3%;
}
  #logo-footer {
    background-image: url(./assets/logo.png);
    height: 25%;
    margin-top: 41%;
    background-size: 27%;
    margin-left: 32%;
    position: relative;
    bottom: 121px;
  }

  .footer-main .footer-column span {
    
    font-family: 'Roboto', sans-serif;;
    line-height: 2;
    font-size: 15px;
  }
  .footer-about {
    position: relative;
    bottom: 110px;
    text-align: center;

    font-size: 20px;



  }

  .eMail {
    position: relative;
    top: 82px;
  }

  .footer-main .footer-column {
    width: calc(100%/2);
    text-align: justify;
  }

  .main-copy-redes {

    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-copy-redes .footer-redes {
    width: 27%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 15%;
  }

  .footer-copy {
    text-align: center;
    position: relative;
    left: 4%;
    padding: 1%;
  }

  #div-area {
    margin-left: 34%;
    margin-top: 6%;
    padding: 4%;
  }

  .form-control {
    display: block;
    width: 50%;

  }

  .form-control-textarea {
    width: 100%;
    padding: 5%;
  }

}