<main>
        <!-- titulo proximos eventos -->
             <h1 class="titulo-merriweather-sans">Próximos Eventos</h1>
                  
       <!-- Card Fiesta Steam -->
     <div class="row">
         <div class="col s10 push-s1 m10 push-m1 l3 push-l1">
           <div class="card center-align">
             <div class="card-image">
               <img src="./assets/fiestaSteam.png">              
             </div>
             <div class="card-content cc-steam">
               <p>Ahora es más fácil inscribirse a la #FiestaSTEAM. Solo llenas el formulario y ¡listo!, a esperar la confirmación</p>
             </div>
             <div class="card-action">
               <a href="http://189.240.62.236:4080/474-2/?fbclid=IwAR3VviVm38wuaCKVKxiirkqGnc86IX99bhXhGZoft4Rb2y6t1ig9xE5y490">
             Registro</a>
             </div>
           </div>
         </div>
       </div>
 
           <!-- Arduino day -->
           <div class="row">
               <div class="col s10 push-s1 m10 push-m1 l3 push-l6">
                 <div class="card center-align">
                   <div class="card-image">
                     <img src="./assets/arduinoDay.png">              
                   </div>
                   <div class="card-content cc-arduino">
                     <p>Te esperamos el próximo sábado 16 de marzo para celebrar la edición 2019 de Arduino Day, la cita es en el atractivo Museo Franz Mayer a las 10 de la mañana.</p>
                   </div>
                   <div class="card-action">
                     <a href="http://arduino.mx/">
                       ARDUINO DAY</a>
                   </div>
                 </div>
               </div>
             </div>

                         <!-- Base Lunar -->
           <div class="row">
               <div class="col s10 push-s1 m10 push-m1 l3 push-l1">
                 <div class="card center-align">
                   <div class="card-image">
                     <img src="./assets/baseLunar.png">              
                   </div>
                   <div class="card-content cc-lunar">
                     <p>Hacia una base Lunar</p>
                     <p>¡Tienes hasta 15 de marzo para registrarte!</p>
                     <p>Hacia una base Lunar</p>
                   </div>
                   <div class="card-action">
                     <a href="http://haciaunabaselunar.org.mx/">
                       BASE LUNAR</a>
                   </div>
                 </div>
               </div>
             </div>

                         <!-- Arsgames -->
           <div class="row">
               <div class="col s10 push-s1 m10 push-m1 l3 push-l1">
                 <div class="card center-align">
                   <div class="card-image">
                     <img src="./assets/arsgames.png">              
                   </div>
                   <div class="card-content cc-arsgames">
                     <p>Presentación de Libro:</p>
                     <p class="titulo-libro">El aprendizaje en juego: Tecnoludismo para el pensamiento crítico</p>
                     <p>Marabunta
                       Miguel Ángel de Quevedo 485c, 04310 Ciudad de México</p>
                   </div>
                   <div class="card-action">
                     <a href="https://www.google.com/search?q=Miguel+%C3%81ngel+de+Quevedo+485c%2C+04310+Ciudad+de+M%C3%A9xico+MAPS&rlz=1C1CAFA_enMX697MX698&oq=Miguel+%C3%81ngel+de+Quevedo+485c%2C+04310+Ciudad+de+M%C3%A9xico+MAPS&aqs=chrome..69i57.3172j0j7&sourceid=chrome&ie=UTF-8">
                       COMO LLEGAR</a>
                   </div>
                 </div>
               </div>
             </div>
           </main>