<div class="container">
  <div class="row">
    <div class="section center ">
      <h2 class="display-4"> <b>Comunidad STEAM</b></h2>
    </div>
    <div class="row">
      <blockquote>
        <h5 class="lead display-4 center font-size-on-subtitle-members ">Esta sección es otro punto de encuentro con
          otros miembros de nuestra comunidad</h5>
      </blockquote>
    </div>
    <div class="section">
      <table class="highlight striped .center-align">
        <thead>
          <tr class="row">
            <th scope="col s2" class="propierty-on-columns">Nombre</th>
            <th scope="col s2" class="propierty-on-columns">Nombre de usuario</th>
            <th scope=" col s2" class=" propierty-on-columns">Intereses</th>
            <th scope="col s3" class="  propierty-on-columns"> Contacto</th>
          </tr>
        </thead>
        <tbody id="table">
      </table>
    </div>
  </div>
</div>