<div class="row  ">

    <div class="col s6 m3 l3">
        <blockquote class="z-depth-5">
      <div id="print-photo" class="section container">foto aqui</div>
      
          <p class="flow-text container section" id="name-input"></p>
      </blockquote>
    
      <!-- Grey navigation panel -->
    </div>
  
    <div class="container  col s12 m9 l9">
      <!-- Teal page content  -->
      <div class="section container">
        <div class="col s4 m4 l4">
          <select id="dropdown3" class="browser-default">
            <option value="Choose your option">Choose your option</option>
            <option value="Science">Ciencia</option>
            <option value="Technology">Tecnología</option>
            <option value="Engineering">Ingeniería</option>
            <option value="Arts">Arte</option>
            <option value="Math">Matemáticas</option>
          </select>
        </div>
        <div>
          <p>
            <label>
              <input id="private" type="checkbox" />
              <span>Solo Yo</span>
            </label>
          </p>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Placeholder" id="input" type="text" class="validate">
              </div>
         </div>
         <button id= "sendButton" onclick = "send()" class="btn btn-sm waves-effect waves-light purple accent-4 col offset-s5" type="submit" name="action">Publicar
            <i class="material-icons right">near_me</i>
          </button>
      </div>
      <div id= "state-user" class="section container"></div>
      <div id= "state-user-filter" class="section container"></div>
  
  
    </div>
  
  </div>
  