         
<main class="forum-container">
 
<div id="div-area">
  <!-- <p>Bienvenida/o a punto STEAM. Puedes publicar de forma anónima o decirnos quién eres :)</p> -->
    <div id="inputs">
      <!-- cambiosJanet -->
      <div id="print-photo" >foto aqui</div>
      <p id="name-input"></p>
          <!-- termina cambiosJanet -->

    <!-- <input id = "name-input" type="text" placeholder="Nombre"> -->
    <select id="area-select">
        <option value="Science">Ciencia</option>
        <option value="Technology">Tecnología</option>
        <option value="Engineering">Ingeniería</option>
        <option value="Arts">Arte</option>
        <option value="Math">Matemáticas</option>
      </select>
      <textarea name="textarea" class="form-control-textarea" id="input" cols="35" rows="1" placeholder="¿Qué nos quieres compartir hoy?"></textarea></div>

      <!--<input type="file" id="input-image">
      <progress value="0" max ="100" id="uploader"></progress>-->

      <div>

    <button id="sendButton" class="button-send-input" onclick ="send()"> Enviar </button></div>

<div>
  <label for="private">Solo yo</label>
    <input id="private" type="checkbox" name="private">
    </div>
</div>
<div id= "state-user">
</div>

<div id= "state-user-filter">
</div>
