<div class="row  ">
  <div class="container col s12 m4 l3 xl3">
    <blockquote class="z-depth-1">
      <div id="print-photo" class="section container col offset-l3 offset-m1 offset-s3 offset-xl3">foto aqui</div>
      <div class="col offset-l3 offset-m1 offset-s3 offset-xl3">
        <p class="flow-text section" id="name-input"></p>
      </div>
    </blockquote>

    <div class=" col s12">
      <div class=" section col s12 m12 l12 xl12">
        <select id="select-Privacy" class="browser-default">
          <option value="public">Público</option>
          <option value="private">Solo yo</option>
        </select>
      </div>
      <div class=" col s12 m12 l12 xl12">
        <div class="section"><a id="Ciencia"
            class="btn-floating btn-sm waves-effect waves-light pink accent-3 area-name"><i
              class="fas fa-flask"></i></a><span class="font-style-area"> Ciencia</span></div>
        <div class="col offset-s3 offset-m1 offset-xl3"></div><a id="Tecnología"
          class="btn-floating btn-sm waves-effect waves-light blue lighten-1 area-name"><i
            class="fas fa-robot"></i></a><span class="font-style-area"> Tecnología</span>
        <div class="section "><a id="Ingeniería"
            class="btn-floating btn-sm waves-effect waves-light light-green darken-1 area-name"><i
              class="fas fa-cogs"></i></a><span class="font-style-area"> Ingeniería</span></div>
        <div class="col offset-s6 offset-m5 offset-xl5 container"><a id="Arte"
            class="btn-floating btn-sm waves-effect waves-light yellow darken-1 area-name"><i
              class="fas fa-palette"></i></a><span class="font-style-area"> Arte</span></div>
        <div class="section"><a id="Matemáticas"
            class="btn-floating btn-sm waves-effect waves-light amber darken-3 area-name"><i
              class="fas fa-square-root-alt"></i></a><span class="font-style-area"> Matemáticas</span></div>
      </div>
    </div>
    <div class="col offset-s5 offset-l4"><a id="refreshPost"
        class="btn-floating btn-large waves-effect waves-yellow cyan darken-2"><i class="material-icons">refresh</i></a>
    </div>
  </div>


  <div class="container  col s12 m8 l9 xl9">
    <div class="section container">
      <h5 class="col s12 m12 l12 xl12 offset-s1 offset-l3 offset-xl3 section">¿Qué nos quieres compartir hoy?</h5>
      <div class="col s8 m6 l4">
        <select id="dropdown3" class="browser-default">
          <option value="Choose your option">Área de tu aporte</option>
          <option value="Ciencia">Ciencia</option>
          <option value="Tecnología">Tecnología</option>
          <option value="Ingeniería">Ingeniería</option>
          <option value="Arte">Arte</option>
          <option value="Matemáticas">Matemáticas</option>
        </select>
      </div>
      <div>
        <p>
          <label>
            <input id="private" type="checkbox" />
            <span>Solo Yo</span>
          </label>
        </p>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="input" type="text" class="validate">
        </div>
      </div>
      <button id="sendButton" onclick="send()"
        class="btn btn-sm waves-effect waves-light purple accent-4 col offset-s4 offset-m4 offset-xl5" type="submit"
        name="action">Publicar
        <i class="material-icons right">near_me</i>
      </button>
    </div>
    <div id="state-user" class="section container"></div>
    <div id="state-user-filter" class="section container"></div>


  </div>

</div>