<div>

  
    <div class="container text-white">
      <h2 class="display-4 center"><b>Mi perfil</b></h2>
     <blockquote>
        <h5 class="lead display-4 center">Personaliza tu perfil y permite que la comunidad te conozca</h5>
     </blockquote> 
     
    </div>
 

  <div>

    <!--Form-->
    <div class="container white card-on-profile-page">
        <form class="row">
          <div class="col s12">
            <div class= "col l2 m5 offset-m5 ps4 offset-s3 ">
          <div id="print-photo"></div>
        </div>
            <div class="input-field col l4 s10">
              <input  id="name" type="text" class="validate">
              <label for="first_name"></label>
              <span class="helper-text">Nombre</span>
            </div>
            <div class="input-field col l4 s10">
                <i class="material-icons prefix">account_circle</i>
              <input  id="userName" type="text" class="validate">
              <label for="user_name"></label>
              <span class="helper-text">Nombre de usuario</span>
            </div>
          </div>
            <div class="row">
              <div class="input-field col l5 offset-l1 s10">
                <input  id="interestArea" type="text" class="validate">
                <label for="interest-Area"></label>
                <span class="helper-text">Área de interés STEAM</span>
              </div>
              <div class="input-field col l5 s10">
                <input id="eMail" type="email" class="validate">
                <label for="email"></label>
                <span class="helper-text offset-l2">e-mail</span>
              </div>
            </div>
      
    <div class="row">
           <a id="saveProfile" class="waves-effect waves-yellow lighten-4 btn purple accent-3 col l2 offset-l5 s4 offset-s4">Guardar</a>
      </div>
   
      
        </form>
      </div>
     
   
   
  </div>


  
</div>



