<div>

        <div class="container-fluid text-center py-5 cont-purple">
            <div class="button-right"> <a href="user.html"><i class="far fa-times-circle" style="color:white; font-size: 25px; text-align: right; font-style: bold" ></i></a></div>
            <div class ="container text-white">
             <h2 class ="display-4"><b>Mi perfil</b></h2>
        <p class ="lead">Personaliza tu perfil y permite que la comunidad te conozca</p>
        <div id="print-photo" >foto aqui</div>
               </div>
             </div>
    
           <div>
          <form class=container id="form">
            <div class="form-row my-4">
              <div class="col-md-4 mb-3">
                <label>Nombre</label>
                <input type="text" id="name" class="form-control" >
              </div>
             <!--<div class="col-md-4 mb-3">
                <label> Apellido</label>
                <input type="text" id ="lastName" class="form-control" >
              </div>-->
              <div class="col-md-4 mb-3">
                <label> Nombre de usuario</label>
                <div class="input-group">
                  <input type="text" id="userName" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-row my-4">
              <div class="col-md-6 mb-3">
                <label>Área(s) de interés STEAM</label>
                <input type="text" id="interestArea" class="form-control" >
              </div>
              <div class="col-md-3 mb-3">
                <label>Correo electrónico</label>
                <input type="text" id="eMail" class="form-control">
              </div>
            </div>
          </form>
         <button id="saveProfile" class="btnProfile" type="submit" >Guardar</button>
     <button id="vid-members" class="btnMembers">Conoce a otros miembros</button>
       <div class="card bg-light mb-3 cardProfile" style="max-width: 18rem;">
          <div class="card-header" id ="cardName"></div>
          <div class="card-body">
            <h2 class ="card-title" id="cardUser"></h2>
            <h5 class="card-title" id="cardInterest"></h5>
            <p class="card-text" id="cardContact"></p>
          </div>
        </div>
      </div>  
    
    
    </div>
    
    