<div>
    <div class="container-nav">
        <nav class="navbar navbar-light" style="background-color: #181717;">
          <a class="navbar-brand" href="#">
           <!--- <img src="./assets/logo.png" alt="" id="logo-nav">-->
           </a>
                   <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Buscar">
                   <div class="dropdown">
                    <button class="btn btn-secondary btn-purple dropdown-toggle "  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i> </button>
                       <div id="area-search" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul>
                          <a id="Science" class="area-name dropdown-item" href="#">Science</a>
                          <a id="Technology" class="area-name dropdown-item" href="#">Technology</a>
                          <a id="Engineering" class="area-name dropdown-item" href="#">Engineering</a>
                          <a id="Arts" class="area-name dropdown-item" href="#">Arts</a>
                          <a id="Math" class="area-name dropdown-item" href="#">Math</a>
                        </ul>
                      </div>
                    </div>
                    <ul>
                      <li><a href="#/">Inicio</a></li>
                      <li><a href="#/members">Comunidad Steam</a></li>
                      <li><a href="#/profile">Mi perfil </a></li>
                      <li><a href="#/events">Próximos eventos</a></li>
    
                    </ul>
                   <button class="btn-user" type="submit"><i class="fas fa-user-astronaut" id="button-user"></i></button>
                   <button class="button-logOut"onclick="mainApp.logOut()">Salir</button>
                 </div>
               </nav></div>
    



        <main class="forum-container">
   
                <div id="div-area">
                  <p>Bienvenida/o a punto STEAM. Puedes publicar de forma anónima o decirnos quién eres :)</p>
                    <div id="inputs">
                    <input id = "name-input" type="text" placeholder="Nombre">
                    <select id="area-select">
                        <option value="Science">Ciencia</option>
                        <option value="Technology">Tecnología</option>
                        <option value="Engineering">Ingeniería</option>
                        <option value="Arts">Arte</option>
                        <option value="Math">Matemáticas</option>
                      </select>
                      <textarea name="textarea" class="form-control-textarea" id="input" cols="35" rows="1" placeholder="¿Qué nos quieres compartir hoy?"></textarea></div>
              
                      <input type="file" id="input-image">
                      <progress value="0" max ="100" id="uploader"></progress>--
              
                      <div>
              
                    <button id="sendButton" class="button-send-input" onclick ="send()"> Enviar </button></div>
                
                <div>
                    <select name="select">
                        <option id="public-message" class="option-selected" value="public">Público</option> 
                        <option id="private-message" class="option-selected" value="private">Solo yo</option>
                    </select>
                </div>
              </div>
                <div id= "state-user">
                </div>
              
                <div id= "state-user-filter">
                </div>
</div>