
<!--<link href="C:\Users\Est1401\Laboratoria2\STEAM\CDMX007-social-network\single page\rutas\login.css" rel="stylesheet" type="text/css" />-->
<div>
      
            <header>
                    <a href="#"><img src="C:\Users\Est1401\Laboratoria2\STEAM\CDMX007-social-network\src\assets\logo3cm.png" alt="logo3cm"  class="logo-login"></a>
                 
                    </header>
                    
                <div id="firebaseui-auth-container"></div>
                <div id="loader">Loading...</div>
               
         </div>
            