<!--<link rel="stylesheet" href="C:\Users\Est1401\Laboratoria2\STEAM\CDMX007-social-network\single page\rutas\profile.css" class="rel">-->

<div>
        <div class="container-fluid text-center py-5 cont-purple">
                <div class ="container text-white">
            <h2 class ="display-4"><b>Mi perfil</b></h2>
            <p class ="lead">Personaliza tu perfil y permite que la comunidad te conozca</p>
          </div>
        </div>
            <div id="print-photo" >foto aqui</div>
        
               <div>
              <form class=container id="form">
                <div class="form-row my-4">
                  <div class="col-md-4 mb-3">
                    <label>Nombre</label>
                    <input type="text" id="name" class="form-control" required ="required" >
                  </div>
                  <div class="col-md-4 mb-3">
                    <label> Apellido</label>
                    <input type="text" id ="lastName" class="form-control"  required ="required" >
                  </div>
                  <div class="col-md-4 mb-3">
                    <label> Nombre de usuario</label>
                    <div class="input-group">
                      <input type="text" id="userName" class="form-control"  required ="required">
                    </div>
                  </div>
                </div>
                <div class="form-row my-4">
                  <div class="col-md-6 mb-3">
                    <label>Área(s) de interés STEAM</label>
                    <input type="text" id="interestArea" class="form-control" required ="required" >
                  </div>
                  <div class="col-md-3 mb-3">
                    <label>Correo electrónico</label>
                    <input type="text" id="eMail" class="form-control"  required ="required">
                  </div>
                </div>
              </form>
        </div>
        </div>
        
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" id="saveProfile" data-toggle="modal" data-target="#myModal">
          Guardar Perfil
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cardName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="cardUser"> Usuario : </p>
                <p id ="cardInterest"> Intereses : </p>
                <p id ="cardContact"> correo electrónico : </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
</div>