@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

/*----Estilos Generales----*/

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(219, 208, 219);
  }
  
  blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid rgba(0,0,0,.87);
}

/*----Materialize Navbar----*/
nav{
    background-color: #212529;
}

.view-height{
    min-height: 1000px;
}

.font-style-area{
    font-size: 20px;
}
.logo-login{
    width: 150px;
    margin-top: 12px;
}

.wrapper{
    width: 20px;
}

.titulo-merriweather-sans{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0 .5rem 0;
    text-align: center;
}


/*----Cards----*/

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.cc-card1{
    background-color: #89dbde;
}

.cc-card2{
    background-color: #66adaf;
}

.cc-card3{
    background-color: #b8db67;
}

.cc-card4{
    background-color: #c3afe0;
}

.news-title{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    padding: 1.5rem;
    margin: 0;
    font-weight: bold;
    justify-content: center; 
}

/*----LoginPage----*/
.login-position{
    position: relative;
    top: 240px;
}
.firebaseui-card-content {
    padding: 80px 24px;
}

.firebaseui-idp-list {
    margin: 1em 25px;
    padding: 31px 0 20px;
 } 

.inicia-sesion{
    color: #5A6978;
    text-align: center;
    border-top: 100px;
    margin: 40% auto;
}

.texto-azul{
   color: #6247AA;
    text-align: center;
    border-top: 100px;
}

.firebaseui-container {
    background-color: white;
}

.mdl-button--raised.mdl-button--colored {
    background: #6247AA;
    color: #fff;
} 

.mdl-button--primary.mdl-button--primary {
    color: #6247AA;
}

.mdl-button--raised.mdl-button--colored:hover {
    background-color: #6247AA;
}

/*----wall forum----*/
.nav-bar-avatar {
    margin-top: 14px;
  }

  .aside-style{
    background-color: rgba(97, 71, 170, 0.411);
  }

.post-wall{
    background-color: antiquewhite;
}

.post-text{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    padding: 0;
    }

    .photo-post-style{
        margin: 10px;
        padding: 15px;
    }


    .responsive-img{
        width: 35%;
    
    }

    .align-content-post{
        display: inline-block;
    }
  
      .form-control-textarea {
          border:none;
        width: 200%;
    padding: 5%;
    height: 6rem;
      }

      .tweet{
          position: relative;
          top: 15.5px;
      }

 /*----Footer----*/

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #212529;
}

.logo-login-footer{
    width: 100px;
    margin-top: 12px;
}

.footer-text{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .8rem;
}



.fab .fa{
    display: inline-block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    line-height: 57px;
    border-radius: 50%;
    background: #AD29B6;
    color: white;
}

/*---comunity table-*/

.font-size-on-subtitle-members{
    font-size:16px;
}
table.highlight tbody tr:hover {
    background-color: black !important;
    color: whitesmoke !important;
}
.text-on-table{
    font-size: 9px;
}
.propierty-on-columns{
    font-size: 11px;
}
.nav-bar-avatar {
    margin-top: 14px;
  }
 
  .aside-style{
    background-color: rgba(97, 71, 170, 0.411);
  }
 
 .post-wall{
    background-color: antiquewhite;
 }
 
 .post-text{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    padding: 0;
    }
 
    .photo-post-style{
        margin: 10px;
        padding: 15px;
    }
 
    .align-content-post{
        display: inline-block;
    }
 
      .form-control-textarea {
          border:none;
        width: 200%;
    padding: 5%;
    height: 6rem;
      }
.footer-copyright{
    position: relative;
    text-align: center;
}
.github-button{
    background-color: #181717;
   size: 0ch;
}

.instagram-button{
    background-color:#D291FF;
}

.twitter-button{
    background-color: #1DA1F2;
}

.copyright-size{
    font-size: 12px;
}

/*--applause--*/
.clap-button{
    width: 30px !important;
    height: 30px !important;
}
#applause-container{
    position: relative;
    bottom: 40px;
    right: -90%;
    width: 30px;    
}


@media (min-width: 767px) {


    .font-size-on-subtitle-members{
        font-size:20px;
    }
    .text-on-table{
        font-size: 16px;
    }

   .propierty-on-columns{
       font-size: 18px;
   }



}

