* {
    font-family: 'Roboto', sans-serif;
}

.cont-purple {
    background-color: #AD29B6;
}

.cardProfile {
    position: relative;
    top: 50px;
    min-height: 150px;
}

.btnMembers {
    background-color: #212529;
    color: white;
    padding: 5px 12px;
    border-radius: 7%;
}

.btnProfile {
    background-color: #AD29B6;
    color: white;
    padding: 5px 12px;
    border-radius: 7%;
}

.button-right {
    margin-left: 90%;
}


@media (min-width: 767px) {

    .cardProfile {
        position: relative;
        left: 70%;
    }

    .btnProfile {

        position: relative;
        left: 35%;
    }

    .btnMembers {
        position: relative;
        left: 45%
    }
}