* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: inline-block;
  margin-top: 17%;
}

header {

  width: 100%;
  background: black;
  height: 62px;
  position: fixed;
}

p {
  text-align: center;
  padding: 3%;
}

#logo {
  background-image: url(./logo.png);
  width: 42%;
  display: inline-block;
  height: 86%;
  margin-top: 3%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 6%;
}

.login {
  display: inline-block;
  float: right;
  margin-right: 3%;
  padding: 5%;
  font-size: 103%;
}

.image-event {
  width: 93%;
  margin-left: 3%;

}

article {
  margin: 1%;
}

body {
  background-color: rgb(219, 208, 219);
}

h1,
h2 {
  text-align: center;
  padding: 4%;
}

#steam {
  background-color: #89dbde;
}

#arduino {
  background-color: #66adaf;
}

#lunar {
  background-color: #bb8ab3;
}

#arsgames {
  background-color: #c3afe0;
}